body {
    margin: 0;
    width: 600px;
    font-family: Smythe;
    /* padding-left:45px; */
} 

header{
    height: 167px;
    display: flex;
    flex-direction: column;
    background-image: url('Borgir.jpg');
    background-position:  70% 50%;
    color: white;
    padding-top: 46px;
    padding-left: 46px;
}

header h1{
    margin-top:0;
    margin-bottom: 19px;
    font-size: 39px;
}

header p{
    margin: 0;
    font-size: 22px;
}

.container{
    padding-left: 46px;
    padding-right:46px;

}

.menu{
    padding-top: 22px;

}

.menu-item{
    display: flex;
    padding-bottom:51px;
    border-bottom: 1px solid #D2D2D2;
    position: relative;
    margin-top: 45px;
}

.icon{
    font-size: 78px;
}

.dish{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 31px;
}


.dish h1{
    margin:0px;
    font-size: 28px;
}

.dish p{
    margin:0;
    font-size: 16px;
    color:#8B8B8B
}

.dish h4{
    margin:0;
    font-size: 20px;

}

.add-menu-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1.5px solid #DEDEDE;
    font-size: 32px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
}

.orderSection{
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    bottom: 45px;
    display:none;
}


.order-heading{
    align-self: center;
    margin-bottom: 64px;
}

.order-heading h1{
    font-size: 28px;
}


.item-order-detail{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    gap:20px;
}

.item-order-detail h1, .item-order-detail p, .item-order-detail h4{
    margin:0;;
}

.item-order-detail h1{
    font-size: 28px;;
}

.item-order-detail p {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #bbbbbb;
}

.item-order-detail h4{
    margin-left: auto;
    font-size: 20px;
}

.total{
    margin-top: 28px;
    border-top: 2px solid #393333;
    display: flex;
    align-items: center;
    margin-bottom: 53px;
}

.total h4{
    font-size: 20px;
    margin-left: auto;
    margin-top: 0;
}


.complete-order-btn{
    width: 508px;
    height: 60px;
    background-color: #16db99;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
}


.show{
    display:flex;
}

.payment-form.show{
    display: flex;
}



.payment-form{
    background-color: #FFFFFF;
    width: 524px;
    height: 542px;
    border: 1.3px solid #757575;
    /* display: flex; */
    position: absolute;
    top: 292px;
    left:38px;
    align-content: center;
    flex-direction: column;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 0 255px;
    display: none;
}

.payment-form h1{
    margin-top:47px;
}


.payment-form form{
    margin-top: 46px;
    margin-bottom: 46px;
    display: flex;
    flex-direction: column;
    gap:23px;
    align-items: center;

}

.payment-form input{
    height: 71px;
    width: 475px;
    padding-left: 26px;
    font-size: 20px;
}

.payment-form button{
    background-color:#16db99;
    width: 475px;
    height: 71px;
    margin: 0 auto;
    color:#ffffff;

    font-size: 20px;
}

.thanks{
    display: flex;
    justify-content: center;
    align-items: center;;
    background-color: #ECFDF5;
    width: 504px;
    height:120px;
    color: #065f46;
    font-size: 32px;
    display: none;
}

.thanks.show{
    display:flex;
}

.hide{
    display:none;
}